{% extends "BoxDiet/__base__.html" %}
{% block title %}{% endblock title %}
{% block content %}
    <div class="dashboard-content border-dashed p-3 m-4 view-height">

        <div class="row border-bottom border-3 p-1 m-1">
            <div class="col noPadding">
                <h3 class="color-header text-uppercase"> Nowy użytkownik</h3>
            </div>


        </div>

        <div class="schedules-content">
            <div class="schedules-content-header">
                <div class="form-group row">
                    <form method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Zapisz">
                    </form>
                    </table>
                </div>
            </div>
             </div>
        </div>
{% endblock content %}