{% extends "BoxDiet/__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="dashboard-content border-dashed p-3 m-4 view-height">

        <div class="row border-bottom border-3 p-1 m-1">
            <div class="col noPadding">
                <h3 class="color-header text-uppercase">Użytkownicy</h3>
            </div>
            <form method="post" action="">{% csrf_token %}
            <div class="d-flex justify-content-end mb-2 pl-1">
                <input type="text" class="input rounded-0 pt-0 pb-0 pr-4 pl-4" style='width:12em'
                       name="searched_name" placeholder="Id użytkownika">
                <button type="submit" class="btn btn-warning rounded-0 pt-0 pb-0 pr-4 pl-4" name="search">Szukaj
                </button>

            </div>
            </form>
            <div class="d-flex justify-content-end mb-2 pl-1">
                <a href="{% url 'user_create' %}"
                   class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj
                    użytkownika</a>
            </div>
            <div class="d-flex justify-content-end mb-2 pl-1">
                <a href="{% url 'rank_create' %}" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj
                    ocenę</a>
            </div>
        </div>

        <div class="schedules-content">
            <table class="table border-bottom">
                <thead>
                <tr class="d-flex">
                    <th class="col-2">ID</th>
                    <th class="col-2">Płeć</th>
                    <th class="col-2">Średnia</th>
                    <th class="col-2">Liczba ocen</th>
                    <th class="col-3 center">Akcje</th>
                </tr>
                </thead>
                <tbody class="text-color-lighter">


                {% for user in object_list %}
                    <tr class="d-flex">
                        <td class="col-2">{{ user.id }}</td>
                        <td class="col-2">
                            {{ user.get_sex_display }}
                        </td>
                        <td class="col-2">
                            {% if user.avg_of_given_ranks %}{{ user.avg_of_given_ranks|floatformat }}
                            {% else %} Brak ocen {% endif %}
                        <td class="col-2">
                            {% if user.no_of_given_ranks.mark__count %}{{ user.no_of_given_ranks.mark__count }}
                            {% else %} Brak ocen {% endif %}
                        <td class="col-3 d-flex align-items-center justify-content-center flex-wrap">
                            {#                            <a href="#" class="btn btn-danger rounded-0 text-light m-1">Usuń</a>#}
                            <a href="{% url 'user_detail' pk=user.id %}" class="btn btn-info rounded-0 text-light m-1">Szczegóły</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container2">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item">  <!-- Jump to Previous Page -->
                        {% if object_list.has_previous %}
                            <li class="previous"><a href="?page={{ object_list.previous_page_number }}">
                                <span aria-hidden="true"> < poprzednia &nbsp;</span></a>
                                {% else %}
                            <li class="previous disabled"><a> </a>
                        {% endif %}
                        </li>
                    {% for page in page_range %}
                        {% if page == object_list.number %}
                            <li class="pg active"><a class="page_number" href="?page={{ page }}">| {{ page }}</a>
                                {% else %}
                            <li class="pg"><a class="page_number" href="?page={{ page }}">| {{ page }}</a>
                        {% endif %}
                    {% endfor %}
                    <li class="page-item">  <!-- Jump to Next Page -->
                        {% if object_list.has_next %}
                            <li class="previous"><a href="?page={{ object_list.next_page_number }}">&nbsp;następna
                                ></a>
                            </li>
                        {% else %}
                            <li class="next disabled"><a> </a>
                        {% endif %}
                        </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock content %}