{% extends "BoxDiet/__base__.html" %}

{% block title %}Edytuj wpis {{ recipe.name }}{% endblock %}

{% block content %}
    <div class="dashboard-content border-dashed p-3 m-4 view-height">
        <form method="post">
            {% csrf_token %}
            <div class="mt-4 ml-4 mr-4">
                <div class="row border-bottom border-3">
                    <div class="col">
                        <h3 class="color-header text-uppercase">Edytuj: {{ recipe_name }}</h3>
                    </div>
                    <div class="col d-flex justify-content-end mb-2">
                        <button type="submit"
                                class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">
                            Zapisz
                        </button>
                    </div>
                </div>

                <table class="table borderless">
                    <tbody>

                    <tr class="d-flex">
                        <th scope="row" class="col-2">Nazwa Przepisu</th>
                        <td class="col-7">
                            <input class="w-100 p-1" value="{{ recipe_name }}" name='recipe_name'>
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th scope="row" class="col-2">Opis przepisu</th>
                        <td class="col-7"><textarea name='recipe_description' class="w-100 p-1"
                                                    rows="5">{{ recipe_description }}</textarea></td>
                    </tr>
                    <tr class="d-flex">
                        <th scope="row" class="col-2">Przygotowanie (minuty)</th>
                        <td class="col-3">
                            <input class="p-1" type="number" value="{{ recipe_time }}" min=0
                                   name='recipe_time'>
                            <input type="hidden" name="recipe_id" value="{{ recipe_id }}">
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="row d-flex">
                    <div class="col-5 border-bottom border-3"><h3
                            class="text-uppercase">Sposób przygotowania</h3></div>
                    <div class="col-2"></div>
                    <div class="col-5 border-bottom border-3"><h3
                            class="text-uppercase">Składniki</h3></div>
                </div>
                <div class="row d-flex">
                    <div class="col-5 p-4">
                        <textarea name="recipe_instructions" class="w-100 p-1"
                                  rows="10">{{ recipe_instructions }}</textarea>
                    </div>
                    <div class="col-2"></div>

                    <div class="col-5 p-4">
                        <textarea name='recipe_ingredients' class="w-100 p-1"
                                  rows="10">{{ recipe_ingredients }}</textarea>
                    </div>
                </div>
            </div>

        </form>
    </div>


{% endblock content %}